.indicator {
    position: absolute;
    left: 40px;
    top: -50px;
    width: 350px;
    height: 20px;
    background-image: linear-gradient(to right, blue, red);
    border: 2px solid grey;
    z-index: 10;
}

.bar {
    position: absolute;
    top: -2px;
    left: -2px;
    width: 22px;
    height: 20px;
    background-color: greenyellow;
    border: 1px solid black;
    transition: all 0.5s;
}
